@use "../../foundation/breakpoints" as bp;

.c-search {
  position: relative;
  display: flex;
  justify-content: center;

  @include bp.bp(pc) {
    margin-right: 35px;
    width: auto;
  }
  &__box {
    margin-top: 40px;
    width: 320px;
    position: relative;
    @include bp.bp(tab) {
      width: auto;
    }
    @include bp.bp(pc) {
      margin: 0;
      width: auto;
    }
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("/images/search_icon.svg") no-repeat center center/auto
        100%;
      display: inline-block;
      position: absolute;
      text-align: center;
      top: 25%;
      left: 0.9rem;
      z-index: 10;
    }
  }
  &__box__text {
    border-radius: 10px;
    border: solid 0.1px #707070;
    padding-left: 44px;
    width: 65%;
    height: 46px;
    @include bp.bp(tab) {
      width: 396px;
    }
    @include bp.bp(pc) {
      width: 230px;
    }
    @include bp.bp(lpc) {
      width: 396px;
    }
  }
  &__box__button {
    border-radius: 10px;
    border: solid 0.1px #707070;
    color: #707070;
    font-weight: bold;
    width: 30%;
    height: 46px;
    background: linear-gradient(#f2ede9, #ded8d3);
    cursor: pointer;
    @include bp.bp(tab) {
      width: 136px;
    }
    @include bp.bp(pc) {
      width: 78px;
    }
    @include bp.bp(lpc) {
      width: 136px;
    }
  }
}
