@use "../../foundation/breakpoints" as bp;
/* map */
.p-access {
  position: relative;
  background-image: url(../images/map_sp.svg);
  background-size: cover;
  background-color: rgba($color: #000000, $alpha: 1);
  background-position: center 0;
  min-height: 700px;
  @include bp.bp(tab) {
    min-height: inherit;
    background-image: url(../images/map_tablet.svg);
  }
  @include bp.bp(pc) {
    background-image: url(../images/map_pc.svg);
  }
  .p-store-description {
    position: absolute;
    background-color: rgba(black, 0.4);
    color: white;
    height: 60%;
    width: 100%;
    padding: 40px 30px 40px 30px;
    @include bp.bp(tab) {
      position: inherit;
      min-height: 415px;
      width: 100%;
    }
    @include bp.bp(pc) {
      min-height: 650px;
      width: 60%;
      padding: 40px 120px 40px 120px;
    }
    h2 {
      font-size: 30px;
      @include bp.bp(pc) {
        font-size: 36px;
      }
    }
    span {
      display: block;
      font-size: 0;
      height: 1px;
      width: 75px;
      background-color: white;
      margin: 20px 0;
      @include bp.bp(pc) {
        margin: 60px 0;
      }
    }
  }
}
