@use "../../foundation/breakpoints" as bp;

.p-header {
  background-color: #fff7ef;
  width: 100%;
  height: 217px;
  text-align: center;
  @include bp.bp(tab) {
  }
  @include bp.bp(pc) {
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    cursor: pointer;
    color: #707070;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 14px 16px 0 0;
    @include bp.bp(tab) {
      font-size: 34px;
      margin: 18px 26px 0 0;
    }
    @include bp.bp(pc) {
      display: none;
    }
  }
  &__title {
    color: #707070;
    font-size: 40px;
    margin-top: 40px;
    @include bp.bp(pc) {
      font-size: 64px;
      margin: 20px 20px 20px 65px;
    }
  }
}
